@import "tailwindcss";

body {
<<<<<<< HEAD
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
=======
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
>>>>>>> dd4595c (final version)
